/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    color: orangered;
    align-items: center;
    margin: 20px;
    padding: auto;
}

header, nav, section, footer {
    background-color: darkorchid;
    text-align: center;
    border-image: auto;
    font-size: 30px;
    color: lightcoral;
    image-rendering: auto;
    image-resolution: auto;
    padding: 20px;
    
}
h1{
    font-size: 60px;
    color: greenyellow;
    text-align: center;
    
}

h3{
    font-size: 45px;
    font-style: oblique;
    color: turquoise;
    text-align: center;
}

.about{
    color: goldenrod;
}
div{
    text-align: center;
    font-size: xx-large;
    color: hotpink;
    background-color: floralwhite;
    

}
#Card{
    width: 50px;
    border: 1px solid hsl(187, 82%, 42%);
    border-radius: 10PX;
}
img{
    width: 965px; text-align: center; height: auto;
}
#tarjeta h2{
    font-size: 36px;
}
#tarjeta h4{
    font-size: 15px;
    color: magenta;
    background-color: blueviolet;
}
.mediano{
    font-size: 36px;
    color: tomato;
}
.about{
    font-family: 'Ballet', cursive;
    color: gold;
    font-size: 56px;
    
}
.image1{
    width: 800px;
    height: 600px;
    margin: 40px;
}
.contenedor{
    display: flexbox;
    /* grid-template-columns: auto auto 100px;*/
    grid-template-columns: 10px auto auto auto auto;
    grid-template-rows: 100px 100px auto;
    background-color: aquamarine;
    margin: 1px;
    gap: 1500px;

}
    


/* Estilos específicos para cada página */
/* Define estilos de diseño responsivo utilizando Flexbox o Grid */
